
<h1><%= @collection["name"] %></h1>

<strong><label>Race:</label></strong></br>
<%= @collection["race"]["name"] %></br>
</br>
<strong><label>Description:</label></strong></br>
<%= @collection["desc"][0]%></br>
</br>
<%= link_to "Back", traits_path %>
