@import "bootstrap";
@import "users";
@import "races";


.navbar {
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  // background: url(burned-paper.jpg) bottom left;
  font-family: fantasy;
}


body {
  background-color: transparent;
  color: yellow;
  font-family: fantasy;
  overflow: hidden scroll;
}

a {
  color: orange;
}


html {
background: url(backgrounds/dragon1.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


h1 {
    text-shadow: 2px 2px red;
}

.scrollable {
  float: left;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  overflow-y: scroll;
  position: fixed;
}

.scrollable_race {
  float: left;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  overflow-y: scroll;
  position: fixed;
}


.sidebar {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
}

.sidebar a {
  color: red;
}

.api_stats {
  word-wrap: break-word;
  padding-right: 500px;
}

// .diceButton {
//     background: url(images/fire.jpg);
//     cursor:pointer;
//     border:none;
//     width:100px;
//     height:100px;
// }
