@import "bootstrap";
@import "users";
@import "races";



.navbar {
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  // background: url(burned-paper.jpg) bottom left;
  font-family: fantasy;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}


a {
  color: orange;
}


#main {
background: url(backgrounds/dragon1.jpg);
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
color: yellow;
font-family: fantasy;
overflow: hidden scroll;
}

#home {
  background: url(backgrounds/dragon5.jpg);
  background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  color: yellow;
  font-family: fantasy;
  overflow: hidden scroll;
  }


h1 {
    text-shadow: 2px 2px red;
}

.intro {
  background: url(backgrounds/dragon6.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrollable {
  float: left;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  overflow-y: scroll;
  position: fixed;
}

.scrollable_race {
  float: left;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  overflow-y: scroll;
  position: fixed;
}


.sidebar {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
}

.sidebar a {
  color: red;
}

.api_stats {
  word-wrap: break-word;
  padding-right: 500px;
}

.dice_stats {
  // padding-right: 150px;
  background: url(images/scroll-resized.png);
  width: 225px;
  height: 326px;
  color: #191970;
  text-align: center;
  transform: rotate(-12deg);

}

.dice_stats h3{
  text-align: center;
  padding-right: 10px;
}

.character_form {
  padding-left: 140px;
}

.fireButton {
    background: url(images/fireball.png);
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    animation-name: flicker;
    animation-duration:1s;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

.diceButton {
    background: url(images/4d6.png);
    cursor:pointer;
    border:none;
    width:300px;
    height:100px;
    animation-name: flicker;
    animation-duration:1s;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.diceTitle {
  padding-left: 80px;
  color: pink;
}

.messageBoard {
  padding-left: 100px;
}
